<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="blank"></ion-icon>
     {{rutina.nombreRutina}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-tabs color="secondary">
    <ion-tab-bar color="secondary" slot="bottom">
      <ion-tab-button color="secondary" (click)="goToFood()">
        <ion-icon name="restaurant-outline" color="dark"></ion-icon>
        <ion-label>Food</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToGym()">
        <ion-icon name="barbell-outline" color="dark"></ion-icon>
        <ion-label>Gym</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
    <ion-list color="tertiary" class="listDays"  *ngFor="let d of diasSemana">
      <ion-button color="tertiary" [disabled]="!hayRutinEnDia(d)" (click)="showModal(d)">{{d}}</ion-button>
    </ion-list>

    <ion-modal [isOpen]="openCloseModal">
    <ng-template>
      <ion-list>
        <ion-radio-group [(ngModel)]="editMode">

          <ion-list-header>
            <ion-label>Mode</ion-label>
          </ion-list-header>

          <ion-item class="radioItem">
            <ion-label><ion-icon name="create-outline"></ion-icon></ion-label>
            <ion-radio  slot="start" value="edit" color="danger"></ion-radio>
          </ion-item>

          <ion-item class="radioItem">
            <ion-label><ion-icon name="eye-outline"></ion-icon></ion-label>
            <ion-radio slot="start" value="view" color="danger"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <div class="content">
        <div class="content-timer">
          <div class="content-m">
            <div class="time"> <h3>{{ minutes | number:'2.0'}} m</h3></div>
            <div class="content-btn" *ngIf="show">
              <button (click)="increment('M')"> + </button>
              <button (click)="decrement('M')"> - </button>
            </div>
          </div>
          <div class="content-s">
            <div class="time"><h3>{{seconds | number:'2.0'}} s </h3></div>
            <div class="content-btn" *ngIf="show">
              <button (click)="increment('S')"> + </button>
              <button (click)="decrement('S')"> - </button>
            </div>
          </div>
        </div>
        <div class="content-btn-action">
          <button type="button" (click)="start()" [disabled]="disabled">&#9658;</button>
          <button type="button" (click)="stop()">&#9724;</button>
          <button type="button" (click)="reset()">&#8635;</button>
        </div>
      </div>
    <cdk-virtual-scroll-viewport itemSize="56">
        <ion-list class="listTemplate" *cdkVirtualFor="let r of rutina.ejercicios | filterByDay: diaSeleccionado">

        <ion-grid >
            <h4 *ngIf="editMode === 'view'">Nombre: {{r.nombreEjercicio}}</h4>
            <ion-input *ngIf="editMode === 'edit'" [(ngModel)]="r.nombreEjercicio">Nombre:</ion-input>
            <h3 *ngIf="editMode === 'view'">Series: {{r.numeroSeries}}</h3>
            <ion-input *ngIf="editMode === 'edit'" [(ngModel)]="r.numeroSeries">Series:</ion-input>
            <h3 *ngIf="editMode === 'view'">Repeticiones: {{r.numeroRepeticiones}}</h3>
            <ion-input *ngIf="editMode === 'edit'" [(ngModel)]="r.numeroRepeticiones">Repeticiones:</ion-input>
            <h3 *ngIf="editMode === 'view'">Último peso: {{r.pesoMaximo}} </h3>
            <ion-input *ngIf="editMode === 'edit'" [(ngModel)]="r.pesoMaximo">último peso:</ion-input>
            <ion-row>
              <ion-col class="repeKgColum" size="3">
                <p>Repe</p>
                <p>KG</p>
              </ion-col>
              <ion-col size="3" *ngFor="let c of arrayContador; let i = index">
                <ion-input type="number"></ion-input>
                <ion-input type="number" [(ngModel)]="r.registroPesos[i]"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-list>
  </cdk-virtual-scroll-viewport>
      <ion-button color="danger" (click)="guardarEjercicio()">Cerrar</ion-button>
    </ng-template>
    </ion-modal>
</ion-content>
