<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="key" class="key"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="ion-text-left">
        Se le enviará un correo electrónico a la dirección que nos indique
        para recuperar la contraseña.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input clearInput placeholder="Correo electrónico" class="text" [(ngModel)]="email"></ion-input>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button expand="block" class="text capitalize" color="secondary" shape="round" (click)="resetPassword()">Aceptar</ion-button>
  <ion-button expand="block" class="text capitalize" color="danger" shape="round" href="/welcome">Cancelar</ion-button>
</ion-content>
