<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-title class="headerTitle">
      <span class="img"><img src="../../../assets/gymEatLogo2.png"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" fullscreen="true" color="primary" scrollEvents="true">
  <ion-label>
    <span class="logo"><h1>GymEat!</h1></span>
  </ion-label>
  <ion-list class="formLoggin">
      <ion-input type="text" [(ngModel)]="email" placeholder="Usuario" ></ion-input>
      <ion-input type="password" [(ngModel)]="pass" placeholder="Contraseña"></ion-input>
  </ion-list>
  <ion-button class="button" color="secondary" (click)="login()">Entrar</ion-button>

  <div class="links">
    <a href="/registro">¿Aún no estás registrado?</a>
  </div>
  <div class="links">
    <a href="/reset-password">¿Has olvidado la contraseña?</a>
  </div>
</ion-content>

