<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="blank"></ion-icon>
     Rutinas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-tabs color="secondary">
    <ion-tab-bar color="secondary" slot="bottom" >
      <ion-tab-button color="secondary" (click)="goToFood()">
        <ion-icon color="primary" name="restaurant-outline" color="dark"></ion-icon>
        <ion-label color="primary">Food</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToUser()">
        <ion-icon color="primary" name="person"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <button color="tertiary"  class="addRoutines" expand="block" shape="round" fill="outline" (click)="goToRoutines()">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    Add routines
  </button>


  <ion-list class="listaRutinas" *ngFor="let r of rutinas">
    <ion-item color="tertiary" routerLink="/rutina-detail/{{r.rutinaID}}">
      {{r.nombreRutina}}
    </ion-item>
    <button color="secondary" class="deleteButton" href=""><ion-icon name="trash-outline" slot="end" (click)="deleteRoutines(r.rutinaID)" style="font-size: 1.5em ;"></ion-icon></button>
  </ion-list>
</ion-content>

