<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="blank"></ion-icon>
     Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button  style="background-color: rgb(0, 225, 255);"(click)="goToFood()">
        <ion-icon name="restaurant-outline" color="dark"></ion-icon>
        <ion-label>Food</ion-label>
      </ion-tab-button>

      <ion-tab-button  style="background-color: rgb(0, 225, 255);" (click)="goToGym()">
        <ion-icon name="barbell-outline" color="dark"></ion-icon>
        <ion-label>Gym</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div id="userPicture">
    <div id="userElements">
      <ion-avatar>
        <img [src]="user.image">
      </ion-avatar>
      <h1>{{user.nombre}}</h1>
    </div>
      <h6>Altura: {{user.altura}}</h6>
      <ion-progress-bar class="progressBar" color="primary" [value]="user.altura/250"></ion-progress-bar>
      <h6>Peso {{user.peso}}</h6>
       <ion-progress-bar class="progressBar"  color="danger" [value]="user.peso/100"></ion-progress-bar>
      <h6>I.M.C: {{user.imc}}</h6>
       <ion-progress-bar class="progressBar" color="success" [value]="user.imc/100"></ion-progress-bar>
  </div>

</ion-content>
