<ion-header>
  <ion-toolbar>
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="blank"></ion-icon>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goToFood()">
        <ion-icon name="restaurant-outline" color="dark"></ion-icon>
        <ion-label>Food</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToGym()">
        <ion-icon name="barbell-outline" color="dark"></ion-icon>
        <ion-label>Gym</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div id="userPicture">
    <div id="userElements">
      <ion-avatar>
        <img class="imageProfile" [src]="user.image" />
        <ion-icon  class="cameraIcon" (click)="openCloseModal()" name="camera-outline"></ion-icon>
      </ion-avatar>
      <h1>{{user.nombre}}</h1>
    </div>
    <h6>Altura: {{user.altura}}</h6>
    <ion-progress-bar
      class="progressBar"
      color="primary"
      [value]="user.altura/250"
    ></ion-progress-bar>
    <h6>Peso {{user.peso}}</h6>
    <ion-progress-bar
      class="progressBar"
      color="danger"
      [value]="user.peso/100"
    ></ion-progress-bar>
    <h6>I.M.C: {{user.imc}}</h6>
    <ion-progress-bar
      class="progressBar"
      color="success"
      [value]="user.imc/100"
    ></ion-progress-bar>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <img *ngIf="image" [src]="image" />
        <p *ngIf="!photoPath" class="ion-padding">
          No has sacado ninguna foto ¿a qué esperas?
        </p>
        <ion-fab class="cameraButtonModal" vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="browsePhoto()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
      <ion-button (click)="openCloseModal()">Cerrar</ion-button>
    </ng-template>
  </ion-modal>
</ion-content>
