<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="userTitle">
      <span class="userTitle__title"><h2>Usuario</h2></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button (click)="goToFood()">
        <ion-icon color="primary" name="restaurant-outline" color="dark"></ion-icon>
        <ion-label color="tertiary">Food</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToGym()">
        <ion-icon name="barbell-outline" color="dark"></ion-icon>
        <ion-label color="tertiary">Gym</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div id="userPicture">
    <div id="userElements">
      <ion-avatar>
        <img class="imageProfile" [src]="user.image" />
        <ion-icon  class="cameraIcon" (click)="browsePhoto()" name="camera-outline"></ion-icon>
      </ion-avatar>
      <h1 class="userName">{{user.nombre}}</h1>
    </div>
    <h6 style="padding-top: 20px;">Altura: {{user.altura}}</h6>
    <ion-progress-bar
      class="progressBar"
      color="warning"
      [value]="user.altura/250"
    ></ion-progress-bar>
    <h6>Peso {{user.peso}}</h6>
    <ion-progress-bar
      class="progressBar"
      color="danger"
      [value]="user.peso/100"
    ></ion-progress-bar>
    <h6>I.M.C: {{user.imc}}</h6>
    <ion-progress-bar
      class="progressBar"
      color="success"
      [value]="user.imc/100"
    ></ion-progress-bar>
  </div>
</ion-content>
