<ion-header>
  <ion-toolbar>
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="blank"></ion-icon>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goToFood()">
        <ion-icon name="restaurant-outline" color="dark"></ion-icon>
        <ion-label>Favs</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToUser()">
        <ion-icon name="person" color="dark"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-button (click)="cambiarEsDesplegado()">Favoritos</ion-button>
  <ion-list class="ion-text-center" style="background-color: var(--background);">
      <ion-card style="width: 100%;" *ngIf="esDesplegado === true">
        <ion-label *ngIf="favoritos.length === 0">No tiene ningún favorito guardado</ion-label>
        <ion-item *ngFor="let f of favoritos" >
          <ion-button (click)="presentAlertConfirma(f)" slot="end" color="medium">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-label (click)="openPopover(f)" style="margin-left: 10px;" class="ion-text-center">{{f.name.toLocaleUpperCase()}}</ion-label>
          <ion-popover [isOpen]="isPopoverOpen">
            <ng-template>
              {{f.name}}
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-card>
  </ion-list>


</ion-content>
