.col__data{
  text-align: end;
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-right: 20px;
  background-color: var(--ion-color-secondary);
  color: white;
}

.col__title{
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: var(--ion-color-tertiary);
  color: white;
}

.col__button{
  margin-top: -10px;
  margin-bottom: 10px;
  padding-right: -50px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: var(--ion-color-secondary);
}

.fav__button{
  color: var(--ion-color-secondary);
}

ion-list{
  background: none;
  background-color: var(--ion-color-tertiary);
}
ion-item{
  background: none;
  background-color: var(--ion-color-tertiary);
}

ion-grid{
  margin-top: 90px;
  margin-left: 10px;

}


.foodTitle{
  position: absolute;
  top: 20px;
  background-color: var(--ion-color-secondary);
  width: 100%;
  text-align: center;
}

ion-button{
  width: 70%;
  height: 40px;
  margin-left: 15%;
  margin-top: 20px ;
  text-align: center;
  --color: #5C87F2;
  --border-radius: 20px
}
ion-button:hover{
  --color: black;
}
ion-modal{
  --background: var(--ion-color-primary)
}
.trashButton{
  width: 40px;
  color: var(--ion-color-secondary);
  margin-top: 0px;
  background-color: var(--ion-color-tertiary);
}

.modalContainer{
  height: 500px;
  margin-top: -80px;
  overflow-y: scroll;
}

.returnButton{
  cursor: pointer;
  color: var(--ion-color-primary);
}
