<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="blank"></ion-icon>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-tabs>
    <ion-tab-bar color="secondary" slot="bottom">
      <ion-tab-button (click)="goToFood()">
        <ion-icon name="restaurant-outline" color="tertiary"></ion-icon>
        <ion-label>Alimentos</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="goToUser()">
        <ion-icon name="person" color="dark"></ion-icon>
        <ion-label>Usuario</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-button class="fav__button" (click)="cambiarEsDesplegado()">Favoritos</ion-button>
  <ion-list color="tertiary" class="ion-text-center">
      <ion-card  style="width: 100%;" *ngIf="esDesplegado === true">
        <ion-label  *ngIf="favoritos.length === 0">No tiene ningún favorito guardado</ion-label>
        <ion-item color="tertiary" *ngFor="let f of favoritos" >
          <ion-button class="trashButton" (click)="presentAlertConfirma(f)" slot="end">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-label (click)="openPopoverWithFood(f)" style="margin-left: 10px;" class="ion-text-center">{{f.name.toLocaleUpperCase()}}</ion-label>
        </ion-item>
      </ion-card>
  </ion-list>

  <ion-modal show-backdrop="false" [isOpen]="isPopoverOpen">
    <ng-template >
      <h1 class="foodTitle">
        <ion-icon class="returnButton" (click)="openPopover()" name="return-up-back-outline"></ion-icon>
        {{food.name.toLocaleUpperCase()}}
      </h1>

      <ion-grid>
        <ion-row>
          <ion-col class="col__title" size="8">
            <h2>Calorías:</h2>
          </ion-col>
          <ion-col class="col__data" size="3">
            <h6>{{food.calories}}</h6>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Grasas:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.fat_total_g}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Grasas saturadas:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.fat_saturated_g}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Proteínas:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.protein_g}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Sodio:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.sodium_mg}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Potasio:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.potassium_mg}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Colesterol:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.cholesterol_mg}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Carbohidratos:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.carbohydrates_total_g}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Fibra:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.fiber_g}}</h5>
          </ion-col>
          <ion-col class="col__title"  size="8">
            <h5>Azucar:</h5>
          </ion-col>
          <ion-col class="col__data"  size="3">
            <h5>{{food.sugar_g}}</h5>
          </ion-col>
        </ion-row>
       </ion-grid>
    </ng-template>
  </ion-modal>


</ion-content>
