ion-searchbar{
  margin-bottom: 10px;
}

.gridContainer{
  width: 100%;
  height: 470px;
  overflow-y: scroll;
}

.col__data{
  text-align: end;
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-right: 20px;
  background-color: var(--ion-color-secondary);
  color: white;
}

.col__title{
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: center;
  color: white;
  background-color: var(--ion-color-tertiary);
}

.firstTitle{
  background-color: var(--ion-color-secondary);
  text-align: center;
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-right: 20px;
  color: white;
}

.col__button{
  margin-top: -10px;
  margin-bottom: 10px;
  padding-right: -50px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: var(--ion-color-secondary);
}
.col__button--fav{
  cursor: pointer;
  color: white;
  margin-top: 20px;
  font-size: 1.3em;
  background-color: var(--ion-color-secondary);
}

.col__button--fav:hover{
  color: black;
}

.col__data--firstData{
  height: 66px;
  margin-top: -6px;
  padding-top: 8px;
  margin-left: -26px;
  background-color: var(--ion-color-secondary);
  text-align: center;
  border-right: 1px solid black;
  color: white;
  font-weight: bold;
  padding-right: 10px;
}

.caloriesTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.caloriesTitle p {
  vertical-align: middle;
  margin-top: 25px;
  padding-bottom: -25px;
  margin-left: 5px;
}

ion-input{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  --background: var(--ion-color-tertiary);
  border: 1px solid var(--ion-color-secondary);
  text-align: center;
}

ion-input ion-icon{
  cursor: pointer;
  margin-left: 10px;
}
ion-tab-button{
  background-color: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-tertiary);
}
