<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="iconoMenu" slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-button class="iconoMenu--back" (click)="goToRoutines()"><ion-icon name="return-down-back-outline"></ion-icon></ion-button>
      <ion-icon name="blank"></ion-icon>
     GymEat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" >
<ion-input  type="text" placeholder="Nombre Rutina" [(ngModel)]="rutina.nombreRutina"></ion-input>
<ion-button (click)="openOrCloseModal()" style="margin-left: 70px">Añadir ejercicio</ion-button>
<ion-item color="primary" *ngIf="ejercicios.length !== 0">
  <ion-label>
    <pre>Día    Nombre    Series    Repes</pre>
  </ion-label>
</ion-item>
  <ion-list *ngFor="let e of ejercicios">
    <ion-item>
    <pre> {{e.diaSemana | firstLetter}}     {{e.nombreEjercicio}}     {{e.numeroSeries}}       {{e.numeroRepeticiones}}</pre>
    </ion-item>
  </ion-list>

  <ion-popover [isOpen]="isModalOpen" class="popover">
  <ng-template>
  <ion-item color="tertiary">
    <ion-select placeholder="Día semana" [(ngModel)]="ejercicio.diaSemana">
      <ion-select-option value="lunes">Lunes</ion-select-option>
      <ion-select-option value="martes">Martes</ion-select-option>
      <ion-select-option value="miercoles">Miércoles</ion-select-option>
      <ion-select-option value="jueves">Jueves</ion-select-option>
      <ion-select-option value="viernes">Viernes</ion-select-option>
      <ion-select-option value="sabado">Sábado</ion-select-option>
      <ion-select-option value="domingo">Domingo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="tertiary">
    <ion-select placeholder="Grupo muscular" [(ngModel)]="ejercicio.grupoMuscular">
      <ion-select-option value="dorsales">Dorsales</ion-select-option>
      <ion-select-option value="pectorales">Pectorales</ion-select-option>
      <ion-select-option value="hombros">Hombros</ion-select-option>
      <ion-select-option value="biceps">Bíceps</ion-select-option>
      <ion-select-option value="triceps">Tríceps</ion-select-option>
      <ion-select-option value="piernas">Piernas</ion-select-option>
      <ion-select-option value="core">Core</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-input type="text" clearInput  placeholder="Nombre ejercicio" [(ngModel)]="ejercicio.nombreEjercicio"></ion-input>
    <ion-input type="number" placeholder="Número de series" [(ngModel)]="ejercicio.numeroSeries"></ion-input>
    <ion-input type="number" placeholder="Número de repeticiones" [(ngModel)]="ejercicio.numeroRepeticiones"></ion-input>
    <ion-button color="secondary" (click)="onSubmit()">Guardar</ion-button>
    <ion-button color="danger" (click)="openOrCloseModal()">Cancelar</ion-button>
  </ng-template>
</ion-popover>

  <ion-button (click)="submitRutina()">Añadir rutina</ion-button>
</ion-content>


