<ion-menu side="end" menuId="main-menu" contentId="main">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
    <ion-list color="primary">
      <ion-item  *ngIf="authService.getCurrentUser()" (click)="authService.logout()" href="/welcome" color="tertiary">
        <ion-icon  name="exit" slot="start"></ion-icon>
        <ion-label  slot="end">Salir de la cuenta</ion-label>
      </ion-item>

      <ion-item *ngIf="authService.getCurrentUser()" href="/usuario" color="tertiary">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label slot="end">Perfil</ion-label>
      </ion-item>

      <ion-item class="borrarUsuario" *ngIf="authService.getCurrentUser()" (click)="mostrarPopover()" color="tertiary">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label slot="end">Borrar usuario</ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label slot="end">Sobre la aplicación</ion-label>
      </ion-item>

    </ion-list>


    <ion-popover [isOpen]="isPopoverOpen">
      <ng-template>
        <ion-content class="contentPopover">
          <h1>¿Está seguro que quiere eliminar su usuario?</h1>
          <ion-button color="success" (click)="deleteUsuario()">Borrar</ion-button>
          <ion-button color="danger" (click)="mostrarPopover()">Cancelar</ion-button>
        </ion-content>

      </ng-template>
    </ion-popover>
  </ion-content>
</ion-menu>
