ion-item{
  box-shadow: -8px -8px 20px 1px #fff9, 5px 5px 6px 1px #0001;
}

.contentPopover{
  width: 90%;
  text-align: center;
  margin: auto;
}
.contentPopover ion-button{
  width: 100px;
  margin: auto;
  margin-left: 10px;
}

.borrarUsuario{
  cursor: pointer;
}

